body {
    background-image: linear-gradient(to right, blue, #2d2d72);
    background-position: cover;
}

header {
    text-align: center;
    color: #222;
}

.jumbotron {
    background-color: #555;
    border: 1px solid white;
    color: white;
}

#train-form {
    margin-top: 3rem;
}